In [22]:
import pandas as pd
import numpy as np 
from sklearn.decomposition import PCA
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest
from sklearn.svm import SVC

In [13]:
data='dataset/iris_Missing.csv'
df=pd.read_csv(data,header=None)
df.columns =['sep-len', 'sep-wid', 'pet-len', 'pet-wid','class']
print(df)

     sep-len  sep-wid  pet-len  pet-wid           class
0        5.1      3.5      1.4      0.2     Iris-setosa
1        4.9      3.0      1.4      0.2     Iris-setosa
2        4.7      3.2      1.3      0.2     Iris-setosa
3        NaN      3.1      1.5      NaN     Iris-setosa
4        NaN      3.6      1.4      0.2     Iris-setosa
..       ...      ...      ...      ...             ...
145      6.7      3.0      5.2      2.3  Iris-virginica
146      6.3      2.5      5.0      1.9  Iris-virginica
147      6.5      3.0      5.2      2.0  Iris-virginica
148      6.2      3.4      5.4      2.3  Iris-virginica
149      5.9      3.0      5.1      1.8  Iris-virginica

[150 rows x 5 columns]

In [14]:
mean_values = df.mean()
mean_values

sep-len    5.870345
sep-wid    3.054483
pet-len    3.725352
pet-wid    1.187324
dtype: float64

In [15]:
df =df.fillna(mean_values)
df

      sep-len  sep-wid  pet-len   pet-wid           class
0    5.100000      3.5      1.4  0.200000     Iris-setosa
1    4.900000      3.0      1.4  0.200000     Iris-setosa
2    4.700000      3.2      1.3  0.200000     Iris-setosa
3    5.870345      3.1      1.5  1.187324     Iris-setosa
4    5.870345      3.6      1.4  0.200000     Iris-setosa
..        ...      ...      ...       ...             ...
145  6.700000      3.0      5.2  2.300000  Iris-virginica
146  6.300000      2.5      5.0  1.900000  Iris-virginica
147  6.500000      3.0      5.2  2.000000  Iris-virginica
148  6.200000      3.4      5.4  2.300000  Iris-virginica
149  5.900000      3.0      5.1  1.800000  Iris-virginica

[150 rows x 5 columns]

In [16]:
array=df.values

In [17]:
array.shape

(150, 5)

In [19]:
x=array[:,0:4] # 0 1 2 3 
y=array[:,4]
pca=PCA(n_components=2)
fit=pca.fit(x)
x_ext=pca.fit_transform(x)
print(x.shape)
print(x_ext.shape)
# save dataset
z = np.array([x_ext[:, 0], x_ext[:, 1],y])
z = z.T
np.savetxt('dataset/extracted_iris.csv', z, delimiter=',',fmt='%1.2f,%1.2f,%s')
print('File saved successfully ')

(150, 4)
(150, 2)
File saved successfully

In [20]:
data='dataset/extracted_iris.csv'
df=pd.read_csv(data,header=None)
df.columns =['sepel','petel','class']
df

     sepel  petel           class
0    -2.66   0.29     Iris-setosa
1    -2.69  -0.17     Iris-setosa
2    -2.87  -0.17     Iris-setosa
3    -1.93   0.53     Iris-setosa
4    -2.40   0.93     Iris-setosa
..     ...    ...             ...
145   1.96   0.18  Iris-virginica
146   1.55  -0.36  Iris-virginica
147   1.79   0.05  Iris-virginica
148   1.92   0.01  Iris-virginica
149   1.42  -0.36  Iris-virginica

[150 rows x 3 columns]

In [23]:
x=df.iloc[:,0:-1].values # 2 features
y=df.iloc[:,-1].values
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=1)
cls=SVC()
cls.fit(x_train,y_train)
y_pred=cls.predict(x_test)

sepel=input("Enter sepel: ")
petel=input("Enter petel: ")
result=cls.predict([[sepel,petel]])
print("predicted class is : "+str(result))

Enter sepel: 1.42
Enter petel: -0.30
predicted class is : ['Iris-virginica']